{{!-- Aimes --}}
<li>

    {{dataValues.name}}

    <button type='button' class='businessButton' data-id="{{dataValues.id}}">
        expand
    </button>

    <!-- Modal -->
    <div class="modal" id="exampleModal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{dataValues.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul>
                        <p>{{dataValues.skillOne}}</p>
                        <p>{{dataValues.skillTwo}}</p>
                        <p>{{dataValues.skillThree}}</p>
                        <p>{{dataValues.jobDescription}}</p>
                        <p>{{dataValues.bio}}</p>
                        <p>{{dataValues.wesite}}</p>
                        <p>{{dataValues.address}}</p>
                    </ul>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="interestCheckbox">
                        <label class="form-check-label" for="defaultCheck1">
                            Interested?
                        </label>
                    </div>

                    {{!-- <div class="form-group">
						<label for="devNote">Message to Business...</label>
						<textarea class="form-control" id="devNote" rows="3"></textarea>
					</div> --}}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id='sendInterest' class="btn btn-primary"
                        data-name='{{dataValues.name}}'>Send</button>
                </div>
            </div>
        </div>
    </div>


</li>