{{!-- Aimes --}}
<tr>
  <td>{{dataValues.name}}</td>
  <td>{{dataValues.skillOne}}, {{dataValues.skillTwo}}, {{dataValues.skillThree}}</td>
  <td><button type='button' class='businessButton btn btn-primary' data-id="{{dataValues.id}}">
      expand
    </button></td>
</tr>

<div class="modal" id="devModal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{dataValues.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card text-center">
          <img src="{{dataValues.photo}}" class="card-img-top" alt="{{dataValues.name}}">
          <div class="card-body">
            <p class="card-text">{{dataValues.bio}}</p>
            <p>{{dataValues.yearsExp}} Years Experience</p>
            <p class="skillOne">Top Skills: {{dataValues.skillOne}}, {{dataValues.skillTwo}}, {{dataValues.skillThree}}
            </p>
            <a href="{{dataValues.github}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
            <a href="{{dataValues.linkedin}}" target="_blank" rel="noopener noreferrer"><i
                class="fab fa-linkedin"></i></a>
            <a href="{{dataValues.portfolio}}" target="_blank" rel="noopener noreferrer"><i
                class="fas fa-portrait"></i></a>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <h5>Message Developer</h5>
          <label for="msgSubject">Subject:</label>
          <input class="form-control" type="text" id="msgSubject">
          <label for="devNote">Message:</label>
          <textarea class="form-control" id="devNote" rows="3"></textarea>
          <label for="jobUrl">Job Posting URL:</label>
          <input class="form-control" type="url" id="jobUrl">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id='sendInterest' class="btn btn-primary" data-dev='{{dataValues.id}}'>Send</button>
      </div>
    </div>
  </div>
</div>