{{!-- Aimes --}}
<li>

  {{dataValues.name}}

  <button type='button' class='businessButton' data-id="{{dataValues.id}}">
    expand
  </button>

  <!-- Modal -->
  <div class="modal" id="devModal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{dataValues.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
            <p>{{dataValues.yearsExp}}</p>
            <p>{{dataValues.github}}</p>
            <p>{{dataValues.linkedin}}</p>
            <p>{{dataValues.portfolio}}</p>
            <p>{{dataValues.bio}}</p>
            <p>{{dataValues.skillOne}}</p>
            <p>{{dataValues.skillTwo}}</p>
            <p>{{dataValues.skillThree}}</p>
          </ul>

          <div class="form-group">
            <label for="devNote">Message to Dev...</label>
            <textarea class="form-control" id="devNote" rows="3"></textarea>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id='sendInterest' class="btn btn-primary" data-name='{{dataValues.bio}}'>Send</button>
        </div>
      </div>
    </div>
  </div>


</li>