{{!-- Vince --}}
{{#this}}
<div class="card text-center" style="width: 18rem;">
  <img src="{{photo}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{bio}}</p>
    <a href={{website}}>{{website}}</a>
    <p class="address">{{address}}</p>
  </div>
</div>
{{/this}}